.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.36);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;
}

.modal_content img {
  width: 80.6vw;
  border-radius: 8px 8px 0 0;
}

.modal_text_btn {
  height: 22vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal_content h2 {
  font-size: 4.48vw;
  font-weight: 350;
  color: #3f3f3f;
}

.modal_text {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  margin-left: 30px;
}

.modal_text p {
  font-size: 1.99vw;
  font-weight: 400;
  color: #3f3f3f;
}

.modal_content span {
  font-size: 1.99vw;
  font-weight: 500;
  color: #3f3f3f;
}

.add_btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2vw;
}

.AI_btn,
.hand_btn {
  border-radius: 40px;
  width: 24.88vw;
  height: 2.86vh;
  font-size: 2.99vw;
  font-weight: 350;
  text-align: center;
  color: #fff;
  line-height: 2.86vh;
  cursor: pointer;
}

.AI_btn {
  background: linear-gradient(
    90deg,
    rgba(32, 141, 251, 0.6) 0%,
    rgba(135, 109, 232, 0.6) 20%,
    rgba(212, 80, 192, 0.6) 40%,
    rgba(243, 56, 115, 0.6) 60%,
    rgba(254, 79, 57, 0.6) 80%,
    rgba(255, 134, 14, 0.6) 100%
  );
}

.hand_btn {
  background-color: #ef9494;
}

/* モーダルが表示されている状態のクラス */
.modal.is_active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* is-activeを使用した際に、コンテンツを上部ではなく中央に表示するための微調整 */
.modal.is_active .modal_content {
  margin: auto;
}

/* PC用のスタイル（768px以上） */
@media (min-width: 768px) {
  .modal_content img {
    content: url("/icons/input_modal_pc.svg");
  }

  .modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal_content {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
  }

  .modal_text_btn {
    height: 41.78vh;
    width: 44.18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .modal_content h2 {
    font-size: 1.85vw;
    font-weight: 350;
    color: #3f3f3f;
  }

  .modal_text {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    margin-left: 110px;
  }

  .modal_text p {
    font-size: 1.06vw;
    font-weight: 400;
    color: #3f3f3f;
  }

  .modal_content span {
    font-size: 1.1vw;
    font-weight: 500;
    color: #3f3f3f;
  }

  .add_btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2vw;
  }

  .AI_btn,
  .hand_btn {
    border-radius: 40px;
    width: 13.64vw;
    height: 5.25vh;
    font-size: 1.32vw;
    font-weight: 350;
    text-align: center;
    color: #fff;
    line-height: 5vh;
    cursor: pointer;
  }

  .AI_btn {
    background: linear-gradient(
      90deg,
      rgba(32, 141, 251, 0.6) 0%,
      rgba(135, 109, 232, 0.6) 20%,
      rgba(212, 80, 192, 0.6) 40%,
      rgba(243, 56, 115, 0.6) 60%,
      rgba(254, 79, 57, 0.6) 80%,
      rgba(255, 134, 14, 0.6) 100%
    );
  }

  .hand_btn {
    background-color: #ef9494;
  }

  .AI_btn:hover {
    opacity: 0.8;
  }

  .hand_btn:hover {
    opacity: 0.8;
  }

  /* モーダルが表示されている状態のクラス */
  .modal.is_active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* is-activeを使用した際に、コンテンツを上部ではなく中央に表示するための微調整 */
  .modal.is_active .modal_content {
    margin: auto;
  }
}
