.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.36);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 200;
  overflow: hidden;
}

.modal_content img {
  width: 80.6vw;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.modal_text_area {
  height: 13vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2vh 2vw 0 2vw;
  margin: 0;
  border: none;
}

.modal_content h2 {
  font-size: 3vw;
  font-weight: 350;
  color: #3f3f3f;
  margin: 0;
}

.modal_content h3 {
  margin: 0;
}

.modal_text {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.modal_text p {
  font-size: 1.99vw;
  font-weight: 400;
  color: #3f3f3f;
}

.btn_area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2vw;
  background-color: #fff;
  width: 100%;
  padding: 0 2vw 2vh 2vw;
  border-radius: 0 0 15px 15px;
  margin: 0;
  border: none;
  font-size: 2.99vw;
}

.cansel_btn {
  border-radius: 40px;
  width: 24.88vw;
  height: 2.86vh;
  font-weight: 350;
  color: #3f3f3f;
  line-height: 2.86vh;
  cursor: pointer;
  background-color: #e0e0e0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit_btn {
  border-radius: 40px;
  width: 24.88vw;
  height: 2.86vh;
  font-weight: 350;
  color: #fff;
  line-height: 2.86vh;
  cursor: pointer;
  background-color: #ef9494;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* モーダルが表示されている状態のクラス */
.modal.is_active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* is-activeを使用した際に、コンテンツを上部ではなく中央に表示するための微調整 */
.modal.is_active .modal_content {
  margin: auto;
}

/* PC用のスタイル（768px以上） */
@media (min-width: 768px) {
  .modal_content img {
    content: url("/icons/delete_modal_pc.svg");
  }
  .modal_content {
    width: 35vw;
  }
  .modal_content h2 {
    font-size: 1.5vw;
    padding-left: 0;
  }
  .modal_text_area {
    height: 20vh;
  }
  .btn_area {
    font-size: 1.5vw;
  }
  .cansel_btn {
    height: 5vh;
    width: 12vw;
  }
  .submit_btn {
    height: 5vh;
    width: 12vw;
  }
  .cansel_btn:hover {
    opacity: 0.8;
  }
  .submit_btn:hover {
    opacity: 0.8;
  }
}
