.show_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.shop_title {
  margin-top: 31px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_name {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 17px;
}

.shop_line {
  background-color: #fff;
  width: 84%;
  height: 4px;
  margin: 0 auto;
}

.shop_Instagram_icon {
  margin-top: 17px;
  display: flex;
  justify-content: center;
}

.shop_info {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  margin-top: 13px;
  margin-left: 57px;
}

.train {
  display: flex;
}

.train_icon {
  margin-right: 11px;
}

.map {
  display: flex;
  margin-top: 3px;
}

.map_icon {
  margin-right: 11px;
}

.phone {
  display: flex;
  margin-top: 3px;
}

.phone_icon {
  margin-right: 11px;
}

.memo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}

.memo_border_left {
  width: 40%;
}

.memo_title {
  margin: 0;
  font-size: 29px;
  color: #fff;
  font-weight: 700;
  white-space: nowrap;
}

.memo_border_right {
  width: 40%;
}

.memo_text {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  width: 100%;
  margin-top: 10px;
}

.memo_text p {
  width: 85.82vw;
  height: 160px;
}

.review p {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.review_star {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.edit_trash_btn {
  display: flex;
  justify-content: space-between;
}

.edit_btn_icon {
  margin-left: 16vw;
  margin-top: 33px;
}

.trash_btn_icon {
  margin-right: 16vw;
  margin-top: 33px;
}

@media (min-width: 768px) {
  .show_body {
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
  }

  .shop_title {
    margin-top: 0;
  }

  .shop_name {
    font-size: 20px;
  }

  .shop_line {
    height: 2px;
  }

  .shop_Instagram_icon {
    margin-top: 7.5px;
    width: 50%;
    height: 50%;
  }

  .shop_info {
    font-size: 10px;
    margin-left: 57px;
    margin-top: 0;
  }

  .train_icon {
    margin-right: 11px;
    width: 50%;
    height: 50%;
  }

  .map {
    margin-top: 1.5px;
  }

  .map_icon {
    margin-right: 11px;
    width: 50%;
    height: 50%;
  }

  .phone {
    margin-top: 1.5px;
  }

  .phone_icon {
    margin-right: 11px;
    width: 50%;
    height: 50%;
  }

  .memo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0;
  }

  .memo_title {
    margin: 0;
    font-size: 15px;
  }

  .memo_text {
    font-size: 8px;
    width: 100%;
    margin-top: 5px;
  }

  .memo_text p {
    width: 80%;
    height: 50%;
  }

  .review p {
    font-size: 9px;
  }

  .review_star {
    margin-top: 1px;
  }

  .review_star_icon {
    max-width: 30px;
  }

  .edit_trash_btn {
    display: flex;
    justify-content: space-between;
  }

  .edit_btn_icon {
    margin-left: 20%;
    max-width: 60px;
  }

  .trash_btn_icon {
    margin-right: 20%;
    max-width: 60px;
  }

  .edit_trash_btn {
    margin-top: 0;
  }
}
