.show_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  min-height: 0;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
}

.shop_title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_name {
  margin-bottom: 17px;
  width: 78vw;
}

.shop_name p {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.shop_line {
  background-color: #fff;
  width: 84%;
  height: 4px;
  margin: 0 auto;
}

.shop_Instagram_icon {
  margin-top: 17px;
  display: flex;
  justify-content: center;
}

.instagram_link {
  display: inline-flex;
}

.instagram_link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.shop_info {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  margin-left: 57px;
}

.train {
  display: flex;
}

.train p {
  width: 60vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.train_icon {
  margin-right: 11px;
}

.map {
  display: flex;
  margin-top: 3px;
}

.map p {
  width: 60vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map_icon {
  margin-right: 11px;
}

.phone {
  display: flex;
  margin-top: 3px;
}

.phone p {
  width: 60vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.phone_icon {
  margin-right: 11px;
}

.memo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.memo_border_left {
  width: 40%;
}

.memo_title {
  margin: 0;
  font-size: 29px;
  color: #fff;
  font-weight: 700;
  white-space: nowrap;
}

.memo_border_right {
  width: 40%;
}

.memo_text {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  width: 100%;
  margin-top: 10px;
}

.memo_text p {
  width: 85.82vw;
  height: auto;
  max-height: 25vh;
  overflow-y: auto;
  margin: 0 auto;
}

.review p {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.review_star {
  display: flex;
  justify-content: center;
  margin-top: 1px;
  gap: 10px;
}

.edit_trash_btn {
  display: flex;
  justify-content: space-between;
}

.edit_btn_icon {
  margin-left: 10vw;
  filter: drop-shadow(0px 0px 8px #aaa);
}

.trash_btn_icon {
  margin-right: 10vw;
  filter: drop-shadow(0px 0px 8px #aaa);
}

.edit_btn_icon:hover {
  opacity: 0.7;
}

.trash_btn_icon:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .show_body {
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 20px 0 20px;
  }

  .shop_title {
    margin-top: 0;
  }

  .shop_name {
    width: 25vw;
  }

  .shop_name p {
    font-size: 20px;
  }

  .shop_line {
    height: 2px;
  }

  .shop_Instagram_icon {
    margin-top: 7.5px;
    width: 50%;
    height: 50%;
  }

  .shop_info {
    font-size: 10px;
    margin-left: 57px;
    margin-top: 0;
  }

  .train_icon {
    margin-right: 11px;
    width: 50%;
    height: 50%;
  }

  .train p {
    width: 19vw;
  }

  .map {
    margin-top: 1.5px;
  }

  .map_icon {
    margin-right: 11px;
    width: 50%;
    height: 50%;
  }

  .map p {
    width: 19vw;
  }

  .phone {
    margin-top: 1.5px;
  }

  .phone_icon {
    margin-right: 11px;
    width: 50%;
    height: 50%;
  }

  .phone p {
    width: 19vw;
  }

  .memo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0;
  }

  .memo_title {
    margin: 0;
    font-size: 15px;
  }

  .memo_text {
    font-size: 11px;
    width: 100%;
    margin-top: 2px;
    max-height: 100%;
  }

  .memo_text p {
    width: 80%;
    height: auto;
    overflow-y: auto;
    margin: 0 auto;
    max-height: 15vh;
  }

  .review p {
    font-size: 9px;
  }

  .review_star {
    margin-top: 1px;
  }

  .review_star_icon {
    max-width: 30px;
  }

  .edit_trash_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .edit_btn_icon {
    margin-left: 20%;
    max-width: 60px;
  }

  .trash_btn_icon {
    margin-right: 20%;
    max-width: 60px;
  }
}
