.header {
  width: 100%;
  box-sizing: border-box;
}

.new_shop_page_container {
  box-sizing: inherit;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact_message_error {
  color: #fff;
  font-size: 14px;
}

.tag input:focus,
.tag textarea:focus {
  outline: none;
  background-color: #fff;
  border: 3px solid #70c8ea;
}

.tag input:not(:placeholder-shown),
.tag textarea:not(:placeholder-shown) {
  outline: none;
  background-color: #fff;
}

/* 新規登録欄 */
.form_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5vh auto;
  width: 85%;
  height: 100%;
}

.tag {
  display: flex;
  flex-direction: column;
}

.tag label {
  display: block;
  color: #fff;
  font-size: 2.99vw;
  font-weight: 600;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.71);
  margin-bottom: 5px;
}

.label_group {
  display: flex;
  align-items: center;
}

.label_group img {
  width: 8.21vw;
}

.required_mobile {
  display: inline-block;
  margin: 0 0 5px 5px;
}

.required_pc {
  display: none;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.tag input {
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 3px;
  height: 4.35vh;
  box-sizing: border-box;
  font-size: 3.23vw;
  padding: 10px;
}

/* メモ欄 */

.tag textarea {
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 3px;
  height: 13.16vh;
  box-sizing: border-box;
  font-size: 3.23vw;
  padding: 10px;
}

/* レビュー欄 */
.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 49.25vw;
  margin: 0 auto;
  gap: 10px;
}

.stars img {
  width: 9vw;
}

/* 保存ボタン */
.input_btn {
  margin: 0 auto;
  text-align: center;
}

.submit_button {
  border: none;
  width: 28.36vw;
  height: 6.18vh;
  font-size: 5.97vw;
  color: #fff;
  background-color: #e28888;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: 2px 2px 3px #724545;
}

/* PC用のスタイル（768px以上） */
@media (min-width: 768px) {
  .form_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5vh auto;
    width: 65%;
    height: 100%;
  }

  .tag {
    flex-direction: row;
    align-items: center;
  }

  .tag label {
    margin-right: 2.31vw;
  }

  .tag label,
  .label_group {
    width: 12vw;
    font-size: 1.2vw;
    padding-top: 1vh;
  }

  .tag input {
    width: 100%;
    height: 5vh;
    font-size: 1.1vw;
  }

  .tag textarea {
    width: 100%;
    height: 15vh;
    font-size: 1.1vw;
  }

  .label_group img {
    width: 4vw;
    max-width: 60px;
    margin-left: 0.5vw;
  }

  .required_mobile {
    display: none;
  }

  .required_pc {
    display: block;
    width: 4vw;
    max-width: 60px;
    margin-bottom: 0.5vh;
  }

  .input_wrapper {
    flex: 1;
  }

  .input_wrapper input {
    width: 100%;
  }

  .stars {
    justify-content: center;
    width: 30%;
  }

  .input_btn {
    width: 100%;
    text-align: right;
    margin-top: 2vh;
  }

  .submit_button {
    width: 10vw;
    min-width: 120px;
    height: 6vh;
    font-size: 1.5vw;
    cursor: pointer;
  }

  .submit_button:active {
    box-shadow: none;
    transform: translateY(3px);
  }
}
