.header {
  width: 100%;
  padding: 16px 0 0 16px;
  box-sizing: border-box;
}

.header h1 {
  font-family: "Abril Fatface", serif;
  color: #fff;
  font-size: 40px;
  margin-top: 18px;
  font-weight: normal;
}
.new_shop_page_container {
  box-sizing: inherit;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contact_message_error {
  color: #fff;
  font-size: 14px;
}

.tag input:focus,
.tag textarea:focus {
  outline: none;
  background-color: #fff;
  border: 3px solid #70c8ea;
}

.tag input:not(:placeholder-shown),
.tag textarea:not(:placeholder-shown) {
  outline: none;
  background-color: #fff;
}

/* 新規登録欄 */
.form_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5vh auto;
  width: 85%;
  height: 100%;
}

.tag {
  display: flex;
  flex-direction: column;
}

.tag label {
  display: block;
  color: #fff;
  font-size: 2.99vw;
  font-weight: 600;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.71);
  margin-bottom: 5px;
}

.label_group {
  display: flex;
  align-items: center;
}

.label_group img {
  width: 8.21vw;
}

.tag input {
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 3px;
  height: 4.35vh;
  box-sizing: border-box;
  font-size: 3.23vw;
  padding: 10px;
}

/* メモ欄 */

.tag textarea {
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 3px;
  height: 13.16vh;
  box-sizing: border-box;
  font-size: 3.23vw;
  padding: 10px;
}

/* レビュー欄 */
.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 49.25vw;
  margin: 0 auto;
}

.stars img {
  width: 9vw;
}

/* 保存ボタン */
.input_btn {
  margin: 0 auto;
  text-align: center;
}

.submit_button {
  border: none;
  width: 28.36vw;
  height: 6.18vh;
  font-size: 5.97vw;
  color: #fff;
  background-color: #e28888;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: 2px 2px 3px #724545;
}