@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
h1,
p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  width: 100%;
  height: 100vh;
  font-family: var(--font-noto-sans-jp), "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  background-image: url("../../public/images/smart_phone_background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-weight: normal;
}


@media (min-width: 768px) {
  body {
    background-image: url("../../public/images/pc_background.png");
    background-attachment: fixed; 
  }
}