.shop_index_page_container {
  box-sizing: inherit;
  width: 100%;
  height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.header_container {
  width: 100%;
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
}

.header_logo {
  font-family: "Abril Fatface", serif;
  color: #fff;
  font-size: 40px;
  margin-top: 18px;
}

.sort {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  padding-right: 16px;
  color: #fff;
}

.sort_text {
  margin-right: 4px;
  font-size: 12px;
  font-weight: 300;
}

.sort_image {
  width: 17px;
  height: 17px;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.shop_card_container {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 100%;
  flex: 1;
  padding: 0 16px;
}

.shop_card_container::-webkit-scrollbar {
  display: none;
}

.shop_detail_container {
  display: none;
}

.loading,
.empty_detail {
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

.footer {
  padding: 16px;
}

.add_shop_btn {
  display: flex;
  justify-content: center;
}

/* PC用のスタイル（768px以上） */
@media (min-width: 768px) {
  .content_wrapper {
    flex-direction: row;
    width: 65%;
    margin: 0 auto;
  }

  .sort {
    margin-right: 50%;
  }

  .shop_card_container {
    width: 50%;
    max-width: 50%;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }

  .shop_detail_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .shop_detail_container::-webkit-scrollbar {
    display: none;
  }
}
