.header_container {
  width: 100%;
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
}

.header_logo {
  font-family: "Abril Fatface", serif;
  color: #fff;
  font-size: 40px;
  margin-top: 18px;
}

.sort {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  padding-right: 16px;
  color: #fff;
}

.sort_text {
  margin-right: 4px;
  font-size: 12px;
  font-weight: 300;
}

.sort_image {
  width: 17px;
  height: 17px;
}

.shop_card_container {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 100%;
  flex: 1;
  padding: 0 16px;
}

.shop_card_container::-webkit-scrollbar {
  display: none;
}

.footer {
  padding: 16px;
}

.add_shop_btn {
  display: flex;
  justify-content: center;
}
