.shop_card {
  display: flex;
  max-width: 100%;
  margin-top: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.31);
}

.shop_accent_border {
  width: 6px;
  height: 69px;
  background: linear-gradient(
    180.07deg,
    #71b6fc 0.04%,
    #b1a2f0 20.02%,
    #e48fd7 40%,
    #f780a5 59.98%,
    #fe907f 79.95%,
    #ffae67 99.93%
  );
  border-radius: 6px 0px 0px 6px;
}

.shop_non_accent_border {
  width: 6px;
  height: 69px;
  background: #fff;
  border-radius: 6px 0px 0px 6px;
}

.shop_content {
  display: flex;
  flex: 1;
  height: 69px;
  background-color: #fff;
  border-radius: 6px;
}

.shop_Instagram_icon {
  width: 45px;
  height: 45px;
  margin: 12px 0 0 24px;
}

.shop_non_Instagram_icon {
  width: 45px;
  height: 45px;
  margin: 12px 0 0 24px;
}

.name_train_review {
  margin: 0 0 0 18px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  flex: 1;
  min-width: 0;
}

.shop_text {
  font-size: 20px;
  font-weight: 500;
  color: #545454;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 72vw;
}

.shop_train {
  display: flex;
  margin-top: 5px;
}

.shop_train_icon {
  width: 10px;
  height: 14px;
  margin-right: 5px;
}

.shop_train_text {
  font-size: 9px;
  font-weight: 500;
  color: #545454;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 35vw;
}

.review {
  display: flex;
  margin-left: auto;
}

.review_icon {
  width: 19px;
  height: 19px;
  margin-right: 3px;
}

.train_review {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .shop_text {
    max-width: 100%;
    width: 24vw;
  }

  .shop_train_text {
    max-width: 100%;
    width: 15vw;
  }
}
