.show_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
}

.header_container {
  width: 100%;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.header_logo {
  font-family: "Abril Fatface", serif;
  color: #fff;
  font-size: 40px;
}

