.show_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
}

.header_container {
  width: 100%;
  box-sizing: border-box;
}
