.modal_content img {
  width: 80.6vw;
  border-radius: 8px 8px 0 0;
}

.modal_text_btn {
  height: 22vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal_text_btn h2 {
  font-size: 4.48vw;
  font-weight: 350;
  color: #3f3f3f;
  text-align: center;
}

.modal_text {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.modal_text p {
  font-size: 3.5vw;
  color: #3f3f3f;
  text-align: center;
}

.url_input {
  width: 100%;
  background-color: rgba(3, 46, 152, 0.06);
  outline: none;
  border-radius: 3px;
  height: 4.35vh;
  box-sizing: border-box;
  font-size: 3.23vw;
  padding: 10px;
}

.contact_message_error {
  color: #3f3f3f;
  font-size: 14px;
}

.add_btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2vw;
}

.AI_btn,
.hand_btn {
  border-radius: 40px;
  width: 24.88vw;
  height: 2.86vh;
  font-size: 2.99vw;
  font-weight: 350;
  text-align: center;
  color: #fff;
  line-height: 2.86vh;
  cursor: pointer;
}

.AI_btn {
  background: linear-gradient(
    90deg,
    rgba(32, 141, 251, 0.6) 0%,
    rgba(135, 109, 232, 0.6) 20%,
    rgba(212, 80, 192, 0.6) 40%,
    rgba(243, 56, 115, 0.6) 60%,
    rgba(254, 79, 57, 0.6) 80%,
    rgba(255, 134, 14, 0.6) 100%
  );
}

.hand_btn {
  background-color: #ef9494;
}

@media (min-width: 768px) {
  .modal_content img {
    content: url("/icons/input_modal_pc.svg");
  }

  .modal_text_btn {
    height: 41.78vh;
    width: 44.18vw;
  }

  .modal_text_btn h2 {
    font-size: 1.85vw;
  }

  .modal_text p {
    font-size: 1.06vw;
  }

  .url_input {
    width: 100%;
    height: 5vh;
    font-size: 1.1vw;
  }

  .add_btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2vw;
  }

  .AI_btn,
  .hand_btn {
    border-radius: 40px;
    width: 13.64vw;
    height: 5.25vh;
    font-size: 1.32vw;
    font-weight: 350;
    text-align: center;
    color: #fff;
    line-height: 5vh;
    cursor: pointer;
  }

  .AI_btn {
    background: linear-gradient(
      90deg,
      rgba(32, 141, 251, 0.6) 0%,
      rgba(135, 109, 232, 0.6) 20%,
      rgba(212, 80, 192, 0.6) 40%,
      rgba(243, 56, 115, 0.6) 60%,
      rgba(254, 79, 57, 0.6) 80%,
      rgba(255, 134, 14, 0.6) 100%
    );
  }

  .hand_btn {
    background-color: #ef9494;
  }

  .AI_btn:hover {
    opacity: 0.8;
  }

  .hand_btn:hover {
    opacity: 0.8;
  }
}
